<p>inicio works!</p>

<mat-toolbar color="primary">
      <span>Mi Aplicación de Bienvenida</span>
      <span class="spacer"></span>
      <button mat-button>Inicio</button>
      <button mat-button>Acerca de</button>
      <button mat-icon-button aria-label="Settings icon">
        <mat-icon>settings</mat-icon>
      </button>
</mat-toolbar>

<div class="content">
      <mat-card>
        <mat-card-header>
          <mat-card-title>¡Bienvenido!</mat-card-title>
          <mat-card-subtitle>A tu nueva aplicación Angular Material.</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
          <p>
            Estamos encantados de tenerte aquí. Explora las posibilidades de Angular y Material Design.
          </p>
          <p>
            Esta es una página de inicio sencilla para que puedas empezar.
          </p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="primary">Empezar</button>
          <button mat-button>Más Información</button>
        </mat-card-actions>
      </mat-card>
    </div>