
<div class="container">
  <div class="content">
    <mat-card>
      <mat-card-header>
        <mat-card-title >¡Bienvenido a ERP GTU</mat-card-title>
        <mat-card-subtitle class="my-2">Desarrollado por Sergio Rojas.</mat-card-subtitle>
      </mat-card-header>
      
      <mat-card-content class="my-3">
        <p>
          <b>ERP GTU</b> es un proyecto diseñado por mi para practicar y demostrar todas las habilidades para desarrollo <b>full-stack</b> 
          que integra un backend <b>.NET 8 Web API</b> con <b>Entity Framework Core</b>, <b>SQLite</b> y un frontend <b>Angular</b>, 
          implementando <b>autenticación JWT (Bearer)</b> y un modelo de datos complejo y completo para gestionar:

        </p>
          <ul>
            <li>Usuarios y roles</li>
            <li>Tareas con estados</li>
             <li>Clientes</li>
            <li>Productos</li>
             <li>Pedidos y detalles de pedido</li>
          </ul>

        
      </mat-card-content>

    </mat-card>
  </div>


</div>