<mat-toolbar color="primary">
  <span>Gestion Tareas Usuarios</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/inicio">Inicio</button>
  <button mat-button routerLink="/login">login</button>
  <button mat-button [matMenuTriggerFor]="menu" aria-label="Módulos">
      <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    
    <button mat-menu-item routerLink="/tareas">
      <mat-icon>dialpad</mat-icon>
      <span>Tareas</span>
    </button>
  </mat-menu>
</mat-toolbar>


<router-outlet></router-outlet>