<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <div class="row ">
    <div class="offset-3 col-lg-6">
      <mat-card class="shipping-card">
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
          <mat-card-subtitle>Ingreso al Sistema</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

          <div class="row">
            <div class="col">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Usuario</mat-label>
                <input matInput placeholder="Usuario" formControlName="usuario">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                @if (addressForm.controls['usuario'].hasError('required')) {
                  <mat-error>Usuario is <strong>required</strong></mat-error>
                }
              </mat-form-field>
              <br><br>
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" required placeholder="Ingresa tu contraseña"
                  formControlName="contrasena"
                >
                  <button type="button"
                    mat-icon-button 
                    matSuffix 
                    (click)="hide = !hide" 
                    [attr.aria-label]="'Ocultar Contraseña'" 
                    [attr.aria-pressed]="hide">
                    
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  @if (addressForm.controls['contrasena'].hasError('required')) {
                    <mat-error>La contraseña es requerida</mat-error>
                  }
                  
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>

        
        <mat-card-actions>
              <button mat-raised-button color="primary" class="center" type="submit">Ingresar</button>
        </mat-card-actions>

      </mat-card>
    </div>
  </div>
</form>
