.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}



mat-card-title {
  font-size: 2em;
  margin-bottom: 10px;
  color: #3f51b5; /* Color primario del tema */
}

mat-card-subtitle {
  font-size: 1.2em;
  color: #757575;
  margin-bottom: 10px;
}