<form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
  <div class="row ">
    <div class="offset-3 col-lg-6">
      <mat-card class="shipping-card">
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
          <mat-card-subtitle>Ingreso al Sistema</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

              <mat-form-field class="full-width" appearance="fill" >
                <mat-label>Email</mat-label>
                <input matInput placeholder="" formControlName="email">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                @if (loginForm.controls['email'].hasError('required')) {
                  <mat-error>Email is <strong>required</strong></mat-error>
                }
              </mat-form-field>

          <div class="row">

              <mat-form-field class="full-width" appearance="fill" >
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" required placeholder="Ingresa tu contraseña"
                  formControlName="contrasena"
                >
                  <button type="button"
                    mat-icon-button 
                    matSuffix 
                    (click)="hide = !hide" 
                    [attr.aria-label]="'Ocultar Contraseña'" 
                    [attr.aria-pressed]="hide">
                    
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  @if (loginForm.controls['contrasena'].hasError('required')) {
                    <mat-error>La contraseña es requerida</mat-error>
                  }
                  
              </mat-form-field>
            </div>

        </mat-card-content>

        <div class="container" style="text-align: center;">
          <mat-card-actions>
                <button mat-raised-button color="primary" class="center" type="submit">Ingresar</button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
  </div>
</form>
