
<div class="container">

    <h3>Tareas</h3>
    <br>
    
    <div *ngIf="cargando" class="text-center">Cargando tareas</div>

    <div class="container">
        <button type="button" class="btn btn-primary" (click)="nuevaTareaRedirect()">Agregar Tarea</button>
    </div>
    <br>
    <table class="table table-hover table-bordered" >

        <thead>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Estado</th>
        </thead>
        <tbody *ngIf="!cargando && tareas.length > 0">
            <tr *ngFor="let t of tareas">
                <td> {{ t.titulo }}</td>
                <td>{{ t.descripcion }}</td>
                <td>{{ t.estado }}</td>
            </tr>
        </tbody>
        <tbody *ngIf="!cargando && tareas.length === 0">
            <td colspan="3" style="text-align: center;">no hay tareas</td>
        </tbody>

    </table>
</div>

